build*/
!build-tools/
.vscode
.cache
.idea/
*.orig
*.rej
./bishengir/tools/bishengir-hfusion-ods-gen
./bishengir/tools/bishengir-target-spec-tblgen
./bishengir/tools/bishengir-compile
./bishengir/tools/bishengir-options-tblgen
./bishengir/tools/bishengir-lsp-server
./bishengir/tools/bishengir-opt
./bishengir/cmake
./bishengir/lib/Dialect/Symbol
./bishengir/lib/Dialect/Utils
./bishengir/lib/Dialect/HIVM/Utils
./bishengir/lib/Dialect/HIVM/Pipelines/ConvertToHIVMPipeline.cpp
./bishengir/lib/Dialect/HIVM/IR/HIVMVectorOps.cpp
./bishengir/lib/Dialect/HIVM/IR/HIVMDMAOps.cpp
./bishengir/lib/Dialect/HIVM/IR/HIVMOps.cpp
./bishengir/lib/Dialect/HIVM/IR/HIVMUnitFlagEnabledInterface/GetUnitFlagMode.cpp
./bishengir/lib/Dialect/HIVM/IR/BiShengIRAggregatedOpInterface/DecomposeOperation.cpp
./bishengir/lib/Dialect/HIVM/IR/BiShengIRAggregatedOpInterface/GetDecomposePhase.cpp
./bishengir/lib/Dialect/HIVM/IR/HIVMTraits.cpp
./bishengir/lib/Dialect/HIVM/IR/StructuredOpInterface/Loops.cpp
./bishengir/lib/Dialect/HIVM/IR/HIVMSynchronizationOps.cpp
./bishengir/lib/Dialect/HIVM/IR/InferCoreTypeInterface/InferCoreType.cpp
./bishengir/lib/Dialect/HIVM/IR/HIVMImpl.cpp
./bishengir/lib/Dialect/HIVM/IR/ImplByScalarOpInterface/LowerToLoops.cpp
./bishengir/lib/Dialect/HIVM/IR/ImplByScalarOpInterface/ShouldLowerToScalarLoops.cpp
./bishengir/lib/Dialect/HIVM/IR/OpPipeInterface/GetPipe.cpp
./bishengir/lib/Dialect/HIVM/IR/HIVMDialect.cpp
./bishengir/lib/Dialect/HIVM/IR/HIVMCanonicalizations.cpp
./bishengir/lib/Dialect/HIVM/IR/HIVMMacroOps.cpp
./bishengir/lib/Dialect/HIVM/IR/OpLayoutInterface/GetOperandsLayout.cpp
./bishengir/lib/Dialect/HIVM/IR/FlattenInterface/OpAdjustment.cpp
./bishengir/lib/Dialect/HIVM/IR/FlattenInterface/OpLimitation.cpp
./bishengir/lib/Dialect/HIVM/IR/FlattenInterface/CommonFlatten.cpp
./bishengir/lib/Dialect/HIVM/IR/FlattenInterface/FlattenResult.cpp
./bishengir/lib/Dialect/HIVM/IR/FlattenInterface/PermutationLike.cpp
./bishengir/lib/Dialect/HIVM/IR/FlattenInterface/Collapser.cpp
./bishengir/lib/Dialect/HIVM/IR/FlattenInterface/UniformReassociation.cpp
./bishengir/lib/Dialect/HIVM/IR/FlattenInterface/FlattenUnit.cpp
./bishengir/lib/Dialect/HIVM/Transforms/ConvertToHIVMOp.cpp
./bishengir/lib/Dialect/HIVM/Transforms/TritonGlobalKernelArgsToHIVMOp.cpp
./bishengir/lib/Dialect/MemRefExt
./bishengir/lib/Dialect/Math
./bishengir/lib/Dialect/Annotation
./bishengir/lib/Dialect/HACC
./bishengir/lib/Dialect/HFusion
./bishengir/lib/Dialect/Bufferization
./bishengir/lib/Dialect/MemRef
./bishengir/lib/Dialect/Tensor
./bishengir/lib/Dialect/SCF
./bishengir/lib/Dialect/Torch
./bishengir/lib/Dialect/Analysis
./bishengir/lib/ExecutionEngine
./bishengir/lib/Tools/ConfigOptions
./bishengir/lib/Tools/Utils
./bishengir/lib/Tools/bishengir-compile
./bishengir/lib/Tools/Version
./bishengir/lib/Conversion
./bishengir/lib/CAPI/Dialect/HFusionPasses.cpp
./bishengir/lib/CAPI/Dialect/AnnotationPasses.cpp
./bishengir/lib/CAPI/Dialect/Annotation.cpp
./bishengir/lib/CAPI/Dialect/HFusion.cpp
./bishengir/lib/CAPI/Dialect/HACC.cpp
./bishengir/lib/Transforms
./bishengir/lib/Pass
./bishengir/lib/Bindings/Python/HFusionPasses.cpp
./bishengir/lib/Bindings/Python/AnnotationPasses.cpp
./bishengir/test/Dialect/Symbol
./bishengir/test/Dialect/Utils
./bishengir/test/Dialect/HIVM/triton-global-kernel-args-to-hivm-op.mlir
./bishengir/test/Dialect/HIVM/convert-to-hivm-op.mlir
./bishengir/test/Dialect/Linalg
./bishengir/test/Dialect/MemRefExt
./bishengir/test/Dialect/Annotation
./bishengir/test/Dialect/HACC
./bishengir/test/Dialect/HFusion
./bishengir/test/Dialect/Bufferization
./bishengir/test/Dialect/MemRef
./bishengir/test/Dialect/Tensor
./bishengir/test/Dialect/SCF
./bishengir/test/ExecutionEngine
./bishengir/test/Conversion
./bishengir/test/bishengir-compile
./bishengir/test/bishengir-options-tblgen
./bishengir/test/lib/Dialect/Utils
./bishengir/test/lib/Dialect/HIVM/TestFlattenInterface.cpp
./bishengir/test/lib/Dialect/Test/TestDialect.td
./bishengir/test/lib/Dialect/Test/InitTestDialect.h
./bishengir/test/lib/Dialect/Test/TestDialect.h
./bishengir/test/lib/Dialect/Test/TestDialect.cpp
./bishengir/test/lib/Dialect/Test/lit.local.cfg
./bishengir/test/lib/Dialect/HFusion
./bishengir/test/CAPI
./bishengir/test/python/dialects/test_apis.py
./bishengir/test/python/dialects/annotation/annotation.py
./bishengir/test/python/dialects/hfusion/hfusion.py
./bishengir/test/python/bishengir_compile.py
./bishengir/test/python/lit.local.cfg
./bishengir/test/Integration
./bishengir/test/Transforms
./bishengir/test/bishengir-opt
./bishengir/test/Pass
./bishengir/test/Interfaces
./bishengir/include/bishengir/Dialect/Symbol
./bishengir/include/bishengir/Dialect/Utils
./bishengir/include/bishengir/Dialect/HIVM/Utils
./bishengir/include/bishengir/Dialect/HIVM/Pipelines/ConvertToHIVMPipeline.h
./bishengir/include/bishengir/Dialect/HIVM/IR/HIVMBase.td
./bishengir/include/bishengir/Dialect/HIVM/IR/HIVMOps.td
./bishengir/include/bishengir/Dialect/HIVM/IR/HIVMImpl.h
./bishengir/include/bishengir/Dialect/HIVM/IR/HIVMSynchronizationOps.td
./bishengir/include/bishengir/Dialect/HIVM/IR/HIVMDoc.td
./bishengir/include/bishengir/Dialect/HIVM/IR/HIVM.h
./bishengir/include/bishengir/Dialect/HIVM/IR/HIVMTraits.td
./bishengir/include/bishengir/Dialect/HIVM/IR/HIVMVectorOps.td
./bishengir/include/bishengir/Dialect/HIVM/IR/HIVMTraits.h
./bishengir/include/bishengir/Dialect/HIVM/IR/HIVMMacroOps.td
./bishengir/include/bishengir/Dialect/HIVM/IR/HIVMAttrs.td
./bishengir/include/bishengir/Dialect/HIVM/IR/HIVMDMAOps.td
./bishengir/include/bishengir/Dialect/HIVM/Interfaces/OpPipeInterface.h
./bishengir/include/bishengir/Dialect/HIVM/Interfaces/FlattenInterface.td
./bishengir/include/bishengir/Dialect/HIVM/Interfaces/ImplByScalarOpInterface.td
./bishengir/include/bishengir/Dialect/HIVM/Interfaces/OpLayoutInterface.h
./bishengir/include/bishengir/Dialect/HIVM/Interfaces/ImplByScalarOpInterface.h
./bishengir/include/bishengir/Dialect/HIVM/Interfaces/OpLayoutInterface.td
./bishengir/include/bishengir/Dialect/HIVM/Interfaces/OpPipeInterface.td
./bishengir/include/bishengir/Dialect/HIVM/Interfaces/FlattenInterface.h
./bishengir/include/bishengir/Dialect/MemRefExt
./bishengir/include/bishengir/Dialect/Annotation
./bishengir/include/bishengir/Dialect/HACC
./bishengir/include/bishengir/Dialect/HFusion
./bishengir/include/bishengir/Dialect/Bufferization
./bishengir/include/bishengir/Dialect/MemRef
./bishengir/include/bishengir/Dialect/MathExt
./bishengir/include/bishengir/Dialect/Tensor
./bishengir/include/bishengir/Dialect/SCF
./bishengir/include/bishengir/Dialect/Torch
./bishengir/include/bishengir/Dialect/Analysis
./bishengir/include/bishengir/ExecutionEngine
./bishengir/include/bishengir/Config
./bishengir/include/bishengir/Tools/ConfigOptions
./bishengir/include/bishengir/Tools/Utils
./bishengir/include/bishengir/Tools/bishengir-compile
./bishengir/include/bishengir/Tools/BiShengIRConfigBase
./bishengir/include/bishengir/Conversion
./bishengir/include/bishengir/Transforms
./bishengir/include/bishengir/Pass
./bishengir/include/bishengir/Interfaces
./bishengir/include/bishengir/Version
./bishengir/include/bishengir-c
./bishengir/python
./build/lib/libmlir_arm_runner_utils.so
./build/lib/libmlir_runner_utils.so
./build/lib/libmlir_c_runner_utils.so
./build/lib/libmlir_arm_sme_abi_stubs.so
./build/lib/libRemarks.so
./build/lib/libmlir_async_runtime.so
./build/lib/libLTO.so
./build/lib/libmlir_float16_utils.so
./build/bin/llvm-otool
./build/bin/llvm-strip
./build/bin/llvm-lib
./build/bin/llvm-addr2line
./build/bin/llvm-install-name-tool
./build/bin/llvm-dlltool
./build/bin/llvm-readelf
./build/bin/llvm-ranlib
./build/bin/llvm-windres
./build/bin/llvm-bitcode-strip
./third-party
./build-tools/apply_patches.sh
./build-tools/build.sh
./build-tools/patches/llvm-project/0012-[Huawei][MLIR]-fix-destination-style-interface-bug.patch
./build-tools/patches/llvm-project/0002-[Huawei][MLIR]-support-on-demand-bare-ptr-calling-convention-for.patch
./build-tools/patches/llvm-project/0064-[Huawei][MLIR]-fix-duplicated-pattern.patch
./build-tools/patches/llvm-project/0061-[Huawei]-Fix-bubble-up-extract-slice-dyn-dependency-issue.patch
./build-tools/patches/llvm-project/0006-[Huawei][MLIR]-support-specifying-optional-attrs-MatchOp.patch
./build-tools/patches/llvm-project/0005-[Huawei][MLIR]-add-an-option-to-skip-slice-linalg-fold-unit-exte.patch
./build-tools/patches/llvm-project/0047-[Huawei][MLIR]-feat--enhance-computeCollapsedLayoutMap.patch
./build-tools/patches/llvm-project/0039-[Backport]-Avoid-doing-op-replacement-in-linalg--dropUnitDims.patch
./build-tools/patches/llvm-project/0042-[Huawei][MLIR]-Fix-memref-dse-accidentally-remove-func-call.patch
./build-tools/patches/llvm-project/0044-[Huawei][MLIR]-feat--enhance-computeCollapsedLayoutMap.patch
./build-tools/patches/llvm-project/0037-[Huawei][MLIR]-support-inline-dense-splat-to-linalg-generic-regi.patch
./build-tools/patches/llvm-project/0054-[Huawei]-Clean-code-fix-infinite-recursion.patch
./build-tools/patches/llvm-project/0017-[Huawei][MLIR]-fold-continuous-memref-copy.patch
./build-tools/patches/llvm-project/0018-[Backport]-Improve-performance-of-DropEquivalentBufferResultsPas.patch
./build-tools/patches/llvm-project/0056-[Backport]-Propagate-errors-from--visitOperation---105448.patch
./build-tools/patches/llvm-project/0025-[Huawei][MLIR]-support-customizing-benifit-for-MergeConsecutiveI.patch
./build-tools/patches/llvm-project/0031-[Backport]-Add-TilingInterface-support-for-fusing-tensor-pad--10.patch
./build-tools/patches/llvm-project/0058-[Backport]-unify-semantics-of-program-point--110344.patch
./build-tools/patches/llvm-project/0023-[Huawei][MLIR]-fix--fold-constant-into-output-shape-of-ExpandSha.patch
./build-tools/patches/llvm-project/0066-[Huawei][LLVM]-Fix-double-free-dead-alloc-and-store.patch
./build-tools/patches/llvm-project/0055-[Backport]-Enable-decoupling-two-kinds-of-greedy-behavior.patch
./build-tools/patches/llvm-project/0038-[Huawei][MLIR]-refactor-redundant-linalg-reduce-unchanging-shape.patch
./build-tools/patches/llvm-project/0004-[Huawei][MLIR]-fix--fix-bug-about-convert-func-to-llvm.patch
./build-tools/patches/llvm-project/0008-[Huawei][MLIR]-feat--tile-using-for-support---transform-any-valu.patch
./build-tools/patches/llvm-project/0065-[Huawei][LLVM]-add-flag-DBSPUB_DAVINCI_BISHENGIR.patch
./build-tools/patches/llvm-project/0051-[Huawei]-Modify-CMakeLists.patch
./build-tools/patches/llvm-project/0043-[Huawei][MLIR]-fix-clean-code-warnings.patch
./build-tools/patches/llvm-project/0030-[Huawei][MLIR]-simplify-slice-from-single-concat-segment.patch
./build-tools/patches/llvm-project/0020-[Huawei][MLIR]-move-in-tensor-cast-users-into-scf-if.patch
./build-tools/patches/llvm-project/0062-[Huawei][MLIR]-feat--support-if-and-memref-cast-canonicalization.patch
./build-tools/patches/llvm-project/0045-[Huawei][MLIR]-feat--enhance-computeCollapsedLayoutMap.patch
./build-tools/patches/llvm-project/0050-[Huawei]-LLVM-modification-for-BiSheng-Enterprise.patch
./build-tools/patches/llvm-project/0046-[Huawei][MLIR]-feat--enhance-computeCollapsedLayoutMap.patch
./build-tools/patches/llvm-project/0009-[Huawei][MLIR]-feat--enhance-reinterpret-canonicalization.patch
./build-tools/patches/llvm-project/0001-[Huawei][MLIR]-feat--add-bishengir.patch
./build-tools/patches/llvm-project/0013-[Huawei][MLIR]-enable-aggressive-bubble-up-extract-slice-for-una.patch
./build-tools/patches/llvm-project/0007-[Huawei][MLIR]-Add-dynamic-tiling-to-tileReductionUsingForOp.patch
./build-tools/patches/llvm-project/0016-[Huawei][MLIR]-enhance-collapse-of-expand-optimization-for-non-i.patch
./build-tools/patches/llvm-project/0011-[Huawei][MLIR]-enhance-tensor-expand-shape-bufferize.patch
./build-tools/patches/llvm-project/0035-[Huawei][MLIR]-Canonicalize-fill---broadcast-pattern.patch
./build-tools/patches/llvm-project/0049-[Huawei][MLIR]-prevent-removal-alloc-on-ReturnLikeOp-ops.patch
./build-tools/patches/llvm-project/0063-[Huawei][MLIR]-feat--support-for-and-memref-cast-canonicalizatio.patch
./build-tools/patches/llvm-project/0033-[Huawei][MLIR]-added-more-iterator-types.patch
./build-tools/patches/llvm-project/0034-[Huawei][MLIR]-normalize-broadcast-dense-splat-to-fill-with-cons.patch
./build-tools/patches/llvm-project/0052-[Huawei]-fix-ReinterpretCast-Const-Arg--Folder-crash-when-source.patch
./build-tools/patches/llvm-project/0026-[Backport]-Simplify-tenor-pad-tiling-length-calculations---11903.patch
./build-tools/patches/llvm-project/0029-[Huawei][MLIR]-Refactor-tensor-ops-to-receive-multi-dynamic-expa.patch
./build-tools/patches/llvm-project/0053-[Huawei]-added-verifier-for-HIVM-StructuredOp-Interface.patch
./build-tools/patches/llvm-project/0014-[Huawei][MLIR]-Add-support-for-broadcast-and-reduce-bubble-up-ex.patch
./build-tools/patches/llvm-project/0059-[Huawei]-Fix-testcases-readd-addArgumentMaterialization.patch
./build-tools/patches/llvm-project/0032-[Huawei][MLIR]-Support-expand-transpose-fold.patch
./build-tools/patches/llvm-project/0041-[Backport]-Move-concat-operation-decomposition-as-a-method-of-th.patch
./build-tools/patches/llvm-project/0021-[Huawei][MLIR]-hoist-same-yields-from-switch-cases.patch
./build-tools/patches/llvm-project/0048-[Backport][mlir][memref]--Allow-collapse-dummy-strided-unit-dim.patch
./build-tools/patches/llvm-project/0010-[Huawei][MLIR]-feat--add-enableExtendedPattern-option-for-Canoni.patch
./build-tools/patches/llvm-project/0040-[Huawei][MLIR]-Refactor--DropUnitDims--to-be-reused-by-other-Lin.patch
./build-tools/patches/llvm-project/0036-[Huawei][MLIR]-simplify-dense-for-linalg-elemwise-binary-op.patch
./build-tools/patches/llvm-project/0027-[Huawei][MLIR]-improve-fold-expand-of-collapse-with-different-re.patch
./build-tools/patches/llvm-project/0024-[Huawei][MLIR]-Add-fold-multi-reshape-canonicalization-pattern.patch
./build-tools/patches/llvm-project/0019-[Huawei][MLIR]-extend-ApplyPatternsOp-with-disable-pattern-optio.patch
./build-tools/patches/llvm-project/0057-[Backport]-Refactoring-the-definition-of-program-points-in-data.patch
./build-tools/patches/llvm-project/0015-[Huawei][MLIR]-enhance-loop-fuse-sibling.patch
./build-tools/patches/llvm-project/0022-[Backport]-Support-bufferization-of-external-functions--113999.patch
./build-tools/patches/llvm-project/0060-[Huawei]-remove-createCanonicalizerPass-with-const-param.patch
./build-tools/patches/llvm-project/0028-[Huawei][MLIR]-disable-registering-reduce-op-s-partial-reduction.patch
./build-tools/patches/llvm-project/0003-[Huawei][MLIR]-merge-consecutive-reduce-ops.patch
./build-tools/patches/torch-mlir/0004-[Huawei]-Add-proper-backend-type-converter-for-torch-int.patch
./build-tools/patches/torch-mlir/0000-[Huawei]-Add-config-fix.patch
./build-tools/patches/torch-mlir/0003-[Huawei]-Add-argument-materialization-for-BackendTypeConversion.patch
./build-tools/patches/torch-mlir/0001-[Huawei]-Fix-greedy-pattern-rewriter-access-pattern.patch
./build-tools/patches/torch-mlir/0002-[Huawei]-Fix-compilation-error.patch
