[submodule "third-party/llvm-project"]
	path = third-party/llvm-project
	url = https://gitcode.com/Ascend/llvm-project.git
	branch = Ascend/AscendNPU-IR/v1.0.0-llvmorg-19.1.7
[submodule "third-party/torch-mlir"]
	path = third-party/torch-mlir
	url = https://gitcode.com/Ascend/torch-mlir.git
	branch = Ascend/AscendNPU-IR/v1.0.0
